{% extends 'base.html.twig' %}

{% block title %}Accueil / Bilemo API{% endblock %}

{% block body %}
    <h1>Hello World</h1>
    <a href="/api/doc">Lien vers la documentation de l'API</a>
{% endblock %}